<head>
    <!-- Other head content -->
    <link rel="stylesheet" href="/CSS/site.css">
</head>

<nav id="navbar">
    <!-- Navbar content goes here -->
        <a href="/">HOME</a>
        <a href="/on-the-menu">ON THE MENU</a>
        <a href="/sign-up">SIGN UP</a>
        <a href="/log-in">LOG IN</a>
        <a href="/mealKits">MEALKITS</a>
        <a href="/mealKits/category">CATEGORIED MEALKITS</a>

        <div class="dropdown-icon">&#9776;</div> <!-- This icon will show on smaller screens -->
</nav>
